<html>
  <head>
    <title>Desafio 01 GoNode</title>
  </head>
  <body>
    <form action="/check" method="POST">
      Nome: <br>
      <input type="text" name="nome" /><br><br>
      Data de nascimento: <br>
      <input type="date" name="dataNascimento" /><br><br>

      <button type="submit">Logar</button>
    </form>
  </body>
</html>
